/*
Source Host           : localhost:3306
Source Database       : express

Target Server Type    : MYSQL
Target Server Version : 50505
File Encoding         : 65001

Date: 2018-02-13 19:39:20
*/

SET FOREIGN_KEY_CHECKS=0;

-- ----------------------------
-- Table structure for city
-- ----------------------------
DROP TABLE IF EXISTS `city`;
CREATE TABLE `city` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cityname` varchar(100) CHARACTER SET utf8 DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=latin1;

-- ----------------------------
-- Table structure for process
-- ----------------------------
DROP TABLE IF EXISTS `process`;
CREATE TABLE `process` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cityname` varchar(20) NOT NULL,
  `title` varchar(100) DEFAULT NULL,
  `field` text NOT NULL,
  `currentRow` int(10) NOT NULL,
  `currentStartnum` int(10) DEFAULT NULL,
  `currentEndnum` int(10) DEFAULT NULL,
  `nextRow` int(10) DEFAULT NULL,
  `nextStartNum` int(10) DEFAULT NULL,
  `nextEndNum` int(10) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;

-- ----------------------------
-- Table structure for result
-- ----------------------------
DROP TABLE IF EXISTS `result`;
CREATE TABLE `result` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cityname` varchar(100) CHARACTER SET utf8 NOT NULL,
  `result` varchar(500) CHARACTER SET utf8 DEFAULT NULL,
  `conditions` varchar(500) CHARACTER SET utf8 DEFAULT NULL,
  `row` int(11) DEFAULT NULL,
  `startNum` int(11) DEFAULT NULL,
  `endNum` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=latin1;
