*{
    margin: 0;
    padding: 0;
}
#container{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.box{
    padding: 5px;
    float: left;
    width: 212px;
}
.box_img{
    padding: 5px;
    border: 1px solid #cccccc;
    box-shadow:0 0 5px #ccc;
    border-radius: 5px;
}
.box_img img{
    width: 200px;
    height: 142px;
}
.more{
    /*position: fixed;*/
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    
}

/*//////////////////////////////////////////*/
.zige_item{
    text-align: center;
    line-height: 50px;
    border: 1px solid #ccc;
    margin: 10px;
    display: block;
    cursor: pointer;
}
.zige_item:hover,.zige_pro:hover{
    background:#f4f4f4;
}
.zige_title{
    text-align: center;
    font-weight: bold;
}
.zige_pro{
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
    margin: 10px;
    display: block;
    cursor: pointer;
}