body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}table{border-collapse: collapse}
td{max-width: 350px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;border: 1px solid #ccc;line-height: 30px}
.red{color: #f00}
.green{color: green}
.bold{font-weight: bold}
.purple{color: #00f}
.focus{background: #ccc}